1. What is the result of the following expression
5+3*2

In [ ]:
print(5+3*2)

11

2. What is the output of the following code
x=5, y=10,
x+=y,
print(x)

In [ ]:
x=5
y=10
x+=y
print(y)

10

3. Evaluate the following boolean expression
(10>5) and (not(5>10))

In [ ]:
print(10>5)and (not(5>10))

True

4. What is the result of the following division 7/2

In [ ]:
print(7/2)

3.5

5. What will be the value and type of 'x' after the following operator x=4//2

In [ ]:
x=4//2
print(x)
type(x)

2

int

6. What is the output of the following code?
a=[1,2,3],
b=a,
b[0]=4,
print(a)

In [ ]:
a=[1,2,3]
b=a
b[0]=4
print(a)

[4, 2, 3]

7. What does the following slice operation return
S="hello"
print(S[1:4])

In [ ]:
S="hello"
T=(S[1:4])
print(T)

ell

8. What will be the value of 'result'
result= 2**3**2

In [ ]:
result=2**3**2
print(result)

512

9.Given the list a=[1,2,3,4,5] what will be the result of a[::-1]?

In [ ]:
a=[1,2,3,4,5]
print(a[::-1])

[5, 4, 3, 2, 1]

10. Evaluate the following expression 10%3

In [15]:
print(10%3)

1

11. What is the result of the following code
x=[1,2,3]
y=[1,2,3]
print(x==y)
print(x is y)

In [16]:
x=[1,2,3]
y=[1,2,3]
print(x==y)
print(x is y)

True
False

12. What is the output of the following code.
x="python",
y=x*3,
print(y)

In [17]:
x="Python"
y=x*3
print(y)

PythonPythonPython

13. What is the type and value of the 'x' after the following operation
x=True + 1

In [18]:
x=True + 1
print(x)
type(x)

2

int

14. What will be the output of the following comparison
print('abd'<'abd)

In [19]:
print('abc'<'abd')

True

15. What is the result of the following code
d={'a':1,'b':2},
d['c']=3,
print(d)

In [21]:
d={'a':1,'b':2}
d['c']=3
print(d)

{'a': 1, 'b': 2, 'c': 3}

16. What will be the value of 'a' after the following operation
a="123",
a+="456"

In [22]:
a="123"
a+="456"
print(a)

123456

17. What is the output of the following code
a=[1,2,3],
b=a[:],
b.append(4),
print(a),
print(b).

In [23]:
a=[1,2,3]
b=a[:]
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

18. Evaluate the following expression
3*(2+4)**2

In [24]:
print(3*(2+4)**2)

108

19. What will be the result of the following comparison
print(5==5.0)

In [25]:
print(5==5.0)

True

20. What is the output of the following code
x=(1,2,3),
y=x+(4,),
print(y)

In [26]:
x=(1,2,3)
y=x+(4,)
print(y)

(1, 2, 3, 4)